<div class="panel panel-primary">
    <div class="panel-heading">Requisições</div>
    
    <div class="panel-body">
		<table class="table table-striped">
		<thead>
			<tr>
				<th>Aluno</th>
				<th>Data</th>
				<th>Telefone</th>
			</tr>
		</thead>
		<tbody>
    	<% @requisicoes = Atendimento.all %>
    		<% @requisicoes.each do |r| %>
    			<%if r.area == 'Assistente Social' && current_user.role == 'assistente_social'%>
					  	<tr>
					        <td><%= r.aluno.pessoa.pessoa_nome %></td>
					        <td><%=r.created_at%></td>
					        <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      atendimento_path(r),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %></td>
                      		<td><%= r.aluno.pessoa.pessoa_nome %></td>         
					      </tr>
    			<%end%>
    		<%end%>	
		</tbody>
	</table>
    </div>
</div>