<%- model_class = Pessoa -%>
<div class="page-header" style="margin-top: 0px;">
  <h1 style="margin-top: 0px;"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
